Checks: >
  clang-analyzer-*,
  -clang-analyzer-security.FloatLoopCounter,
  -clang-analyzer-optin.core.EnumCastOutOfRange,

  bugprone-*,

  performance-*,
  -performance-enum-size

  modernize-*,

HeaderFilterRegex: 'nyla/nyla/.*'
FormatStyle: none

ExtraArgs: [ -std=c++23 ]